doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title

    link(rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")

  body
    main#cardoVue(role="main" class="container")
      center 
         h1#pageTitle List of Products
         
      section
        a(class='button' href='/addProduct' ) Add Product
        table.table#notesTable
          tr
            th ID
            th Product Name
            th Quantity
            th Price
            th Actions
          tr(v-for="note in item")
            td {{ note.id }}
            td {{ note.productName }}
            td {{ note.quantity }}
            td &#8369;{{ note.price }}
            td
              //-button(v-on:click="editProduct(note)") Edit
              a(v-bind:href="`/editProduct/${ note.id }`")  Edit
              button(v-on:click="deleteNote(note)") Delete
          
    script(src="/axios.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="/cardo-vue.js")
